.header{
    border: 1px solid none;
    background-color: #0073E6;
    width: 100vw;
    height: 15vh;
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.signUpBtn{
    height: 40px;
    width: 130px;
    border: none;
    background: none;
    text-decoration: underline;
    font-size: large ;
    color: aliceblue;
}