.header{
    /* border: 1px solid none; */
    /* border-bottom: 1px solid aliceblue; */
    /* border-width: 5px; */
    /* background-color: #0073E6; */
    height: 10vh;
    color: aliceblue;
    /* color: #F9F600; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.signUpBtn{
    height: 40px;
    width: 130px;
    border: none;
    background: none;
    font-size: large ;
    color: aliceblue;
}